/* index */
.navbar{
	background-color: #ffffff !important;
}
.navbar-brand{
	padding: 0px;
	margin: 15px !important;
}
.navbar-form{
	border:0px !important;
}
.forget_pass{
	display: block;
	margin-top: 10px;
}
#navbar .form-group input[type="password"]{
	margin-top: 30px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent !important;
}
@media (max-width:767px) {
	.logo{
		width: 150px;
	}
	.navbar-brand{
		margin: 0px !important;
	}
}