
.navbar-static-top .nav {
    padding: 15px 0;
}

.navbar-static-top .navbar-brand {
    padding: 0 15px;
}


@media(min-width:768px) {
    
    .navbar-static-top .navbar-brand {
        padding: 15px 0;
    }
}


/* chat */


.item_chat{
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
}

.item_chat:hover{
	background-color: #eee;
}