
.navbar-static-top .nav {
    padding: 15px 0;
}

.navbar-static-top .navbar-brand {
    padding: 0 15px;
}


@media(min-width:768px) {
    
    .navbar-static-top .navbar-brand {
        padding: 15px 0;
    }
}
